@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 300;
    src: url(/public/assets/fonts/quicksand/Quicksand-Light.ttf),
      format('truetype');
  }
  @font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    src: url(/public/assets/fonts/quicksand/Quicksand-Regular.ttf),
      format('truetype');
  }
  @font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    src: url(/public/assets/fonts/quicksand/Quicksand-Medium.ttf),
      format('truetype');
  }
  @font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 600;
    src: url(/public/assets/fonts/quicksand/Quicksand-SemiBold.ttf),
      format('truetype');
  }
  @font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    src: url(/public/assets/fonts/quicksand/Quicksand-Bold.ttf),
      format('truetype');
  }

  @font-face {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 300;
    src: url(/public/assets/fonts/jost/Jost-Thin.ttf), format('truetype');
  }
  @font-face {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    src: url(/public/assets/fonts/jost/Jost-Light.ttf), format('truetype');
  }
  @font-face {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    src: url(/public/assets/fonts/jost/Jost-Regular.ttf), format('truetype');
  }
  @font-face {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    src: url(/public/assets/fonts/jost/Jost-Medium.ttf), format('truetype');
  }
  @font-face {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    src: url(/public/assets/fonts/jost/Jost-SemiBold.ttf), format('truetype');
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  color: rgb(68, 68, 68);
}

html {
  height: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: rgb(249, 250, 252);
}

body {
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

p {
  white-space: pre-line;
}

img {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.md {
  line-height: initial;
  white-space: pre-wrap;
}

.md h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-left: 0;
  margin-right: 0;
}

.md h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-left: 0;
  margin-right: 0;
}

.md h3 {
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-left: 0;
  margin-right: 0;
}

.md h4 {
  display: block;
  font-size: 1em;
  margin-top: 1.33em;
  margin-left: 0;
  margin-right: 0;
}

.md p {
  line-height: 1.5rem;
}

.md ol {
  margin-left: 1rem;
  list-style: decimal;
}

.md ol li:first-of-type,
.md ul li:first-of-type {
  margin-top: 0;
  white-space: initial;
}

.md ol li,
.md ul li {
  margin-top: 1rem;
  white-space: initial;
}

.md ol li p:first-of-type {
  margin-bottom: 1rem;
}

.md ul {
  margin: 0 0 1rem 1.65rem;
  list-style: circle;
}

.md a {
  color: rgb(49, 109, 199);
  text-decoration: underline;
}

.md pre {
  padding: 1.5rem;
  border-radius: 0.5rem;
  overflow-x: auto;
  background-color: rgb(229 231 235);
  margin: 1rem 0 1rem;
}

.md code {
  color: rgb(78, 78, 78);
}
